@mixin transiticao($linha){
  transition: $linha;
  -webkit-transition: $linha;
  -moz-transition: $linha;
  -o-transition: $linha;
  -ms-transition: $linha;
}



.blog-pagina{
  iframe{
    min-width: 100%;
    max-width: 100%;
  }
  &>.index{
    &>.page-header{
      margin: 0;
      border: 0;
      padding: 0;
      height: 100vh;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      &>.textos-hearder {
        position: absolute;
        top: 40%;
        left: 0;
        text-align: center;
        transform: translate(0, -40%);
        width: 100%;
        color: #fff;
        //text-shadow: 1px 1px #333;
        padding: 0.7em;
        background-color: rgba(0,0,0,0.4);
        text-transform: uppercase;
        //font-size: 3rem;
        margin-bottom: 1rem;
      }
    }
    &>.features{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: #D51130;
      &>.box-feature{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        max-width: 30rem;
        &>.header{
          padding: 1em 1.1em;
          margin: 0.1rem;
          height: 13em;
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          align-items: center;
          //@include transiticao(all 0.6s ease);
          &>.box-ssss-img{
            width: 6em;
            align-self: center;
          }
          &>.text-ssss{
            text-align: center;
            color: #fff;
            font-weight: bolder;
            font-size: 1.1rem;
            max-width: 9rem;
          }
          &:hover{
             background-color: #D31150;
          }
        }
        &>.footer{

        }
      }
    }
    &>.eafs-landing{
      height: 100vh;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      
      display: flex;
      align-items: center;
      
      justify-content: center;
      flex-direction: column;
      
      &>.img-landing{
        width: 15rem;
      }
      &>.textos-landing>p {
        text-align: center;
        width: 100%;
        color: #fff;
        //text-shadow: 1px 1px #333;
        padding: 0 5.5rem;
        background-color: rgba(0,0,0,0.4);
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: 700;
      }
      &>.calltoaction{
          display: flex;
          justify-content: center;
        &>.calltoaction-btn{
          color: #fff;
          background-color: #D51130;
          border-color: #D51130;
          display: inline-block;
          font-weight: normal;
          line-height: 1.25;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          user-select: none;
          border: 1px solid transparent;
          padding: 1rem 1rem;
          font-size: 2rem;
          text-decoration: none;
          &:focus, &:hover {
            color: #fff;
            background-color: #af0e28;
            border-color: #af0e28;
            outline: 0;
          }
        }
      }
    }
  }
}